<ion-header>
    <ion-toolbar>
        <ion-title> My cart</ion-title>

    </ion-toolbar>

    <div class="header">
        <ion-buttons>
            <ion-button routerLink="/detail/id">
                <ion-icon slot="icon-only" color='dark' name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>

    </div>
</ion-header>
<ion-content>
    <ng-container *ngIf="cartItemList.length !==0">
        <ion-card *ngFor="let row of cartItemList">
            <img  src="assets/images/foods/{{row.image}}" alt="food image" />
            <ion-card-header>
                <ion-card-title>{{row.title}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                {{row.description}}
            </ion-card-content>
            <h2 class="sub-title"><sup>$</sup>{{ row.totalprice }}</h2>
            <h2>Quantity : {{row.quantity}}</h2>
            <div class="text-center">

                <ion-button (click)="removeItem(row.id)" color="danger">Remove</ion-button>

            </div>
        </ion-card>
        <h4 class="text-center">Grand Total :${{total}}</h4>
    </ng-container>
    <ng-container>
        <ion-button *ngIf="cartItemList.length > 0" (click)="checkOut()" color="primary">Check Out</ion-button>

    </ng-container>
    <ng-container *ngIf="cartItemList.length === 0">
        <div class="center">
            <img src="" alt="">
            <h4>Your Cart is Empty!</h4>
            <button class="btn btn-primary" routerLink="/listing"> Shop Now </button>

        </div>
    </ng-container>
</ion-content>
