
<ion-content>
<div class="header d-flex justify-content-between">
  <h1>Menu</h1> 
  <button style="    width: 6rem;
  height: 3rem;
  margin-top: 26px;
  margin-right: 20px;" routerLink="/login" class="btn btn-primary">Login</button>
</div>
<!--SEARCH BAR-->
<app-searchbar></app-searchbar>
<!--Category-->
<div class="categories">
  <app-category-item *ngFor="let item of categories" [item]="item"></app-category-item>
</div>
<!--products-->
<h1 class="list-header">Dishes</h1>
<div class="food-list">
  <app-food-card *ngFor=" let food of foods"[item]="food" (click)="goToDetailPage(food.id)" >
    
  </app-food-card>
  
</div>
</ion-content>
